.main{
    img{
        width: 120px;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;

      
        .perfile-user{

            h3{

            }

            a{

            }
        }

    }

    .details{
        p{
            
        }
    }


}